# Dependencies
node_modules

# Build
.next
out
dist
build

# Environment
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.tsbuildinfo
next-env.d.ts
